.footer-container{
    width:100%;
    height:auto;
    background-color: black;
    color:rgb(236, 236, 236);
    display:flex;

}

.footer-container .lists{
    display:flex;
    gap:50px;
    line-height: 25px;
    list-style: none;
    padding: 20px;

}

.footer-container .footer-end{
    list-style: none;
    padding:20px;
}

.copyright{
    color:grey;
    padding:20px;
    margin-top:70px;
}

.nike-logo img{
    height:90px;
    width:180px;
    padding:25px;
    margin-left:350px;

}

@media screen and (max-width: 480px){

    .footer-container{
        height:80px;
    }

    .footer-container .lists{
        font-size: 7px;
        line-height: 10px;
        gap:15px;
        padding:10px;
    }

    .footer-container .footer-end{
        font-size: 7px;
        line-height: 10px;
        padding:7px;
        /* margin-left:0px; */
    }

    .footer-container .footer-end ul{
        width:45px;
    }

    .copyright {
        color:grey;
        padding:10px;
        font-size:5px;
        margin-top:5px;
    }

    .copyright p{
        width:70px;
    }

    .nike-logo img{
        height:30px;
        width:60px;
        padding:15px;
        margin-left:0px;
    }




}