.footer-container{
    width:100%;
    height:auto;
    background-color: black;
    color:rgb(236, 236, 236);
    display:flex;

}

.footer-container .lists{
    display:flex;
    gap:50px;
    line-height: 25px;
    list-style: none;
    padding: 20px;

}

.footer-container .footer-end{
    list-style: none;
    padding:20px;
}

.copyright{
    color:grey;
    padding:20px;
    margin-top:70px;
}

.nike-logo img{
    height:90px;
    width:180px;
    padding:25px;
    margin-left:350px;

}